@using System.Globalization
@model List<Transaccion>
@{
    Layout = null;
    ViewData["Title"] = "Monthly Statement";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="overflow-hidden justify-content-center align-middle">

    <div class="container mt-5">
        <h2 class="text-center">Monthly Statement</h2>
        <p class="text-center">Here's your statement for account #@Model.First().CuentaId in @CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(Model.First().Fecha.Month) of @Model.First().Fecha.Year.ToString()</p>
        <p class="text-center">Client: @Model.First().Cliente?.Nombre @Model.First().Cliente?.Apellido</p>

        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">Total depostis</th>
                    <th scope="col">Total withdrawals</th>
                    <th scope="col">Total balance</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>$
                        @{
                            var totalDeposits = 0.0;
                            foreach (var transaccion in Model)
                            {
                                if (transaccion.TipoTransaccion == "Consignacion")
                                {
                                    totalDeposits += transaccion.Monto;
                                }
                            }
                            @totalDeposits
                        }
                    </td>
                    <td>$
                        @{
                            var totalWithdrawals = 0.0;
                            foreach (var transaccion in Model)
                            {
                                if (transaccion.TipoTransaccion == "Retiro")
                                {
                                    totalWithdrawals += transaccion.Monto;
                                }
                            }
                            @totalWithdrawals
                        }
                    </td>
                    <td>$
                        @{
                            var totalBalance = totalDeposits - totalWithdrawals;
                            @totalBalance
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">Date</th>
                    <th scope="col">City</th>
                    <th scope="col">Transaction type</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model)
                {
                    <tr class="text-center">
                        <td>@transaction.Fecha</td>
                        <td>@transaction.CiudadOrigen</td>
                        <td>@transaction.TipoTransaccion</td>
                        <td>$
                           @{
                                if (transaction.TipoTransaccion == "Consignacion")
                                {
                                    @transaction.Monto
                                }
                                else
                                {
                                    @(-transaction.Monto)
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>